fieldset
  legend= isRoot ? 'From ' + (model ? model.get('name') : 'something') : 'Join ' + (model ? model.get('name') : 'something')

  //- Select model.
  div.select-model(class="form-group")
    label(class="col-sm-1 col-xs-2 control-label") From:

    div(class="col-sm-3 col-xs-4")
      select(name="model" class="form-control")
        option(disabled selected) ...
        each table in schema.toJSON()
          - var isSelected = model && model.id === table.id
          option(value=table.name selected=isSelected) #{table.name}


  //- Select fields.
  div.select-fields(class="form-group")
    label(class="col-sm-1 col-xs-2 control-label") Select:

    div(class="col-sm-3 col-xs-4")
      select(name="aggregate" class="form-control")
        optgroup(label="Aggregators")
          option(value="each") Each
          option(value="count") Count of
          option(value="sum") Sum of
        optgroup(label="Date formatters")
          option(value="day") Day of
          option(value="month") Month of
          option(vlaue="quarter") Quarter of
          option(value="year") Year of

    div(class="col-sm-7 col-xs-4")
      select(name="model" class="form-control")
        option(disabled selected) ...
        each table in schema.toJSON()
          optgroup(label=table.name)
            each col in table.columns
              option(value=col) #{col}

    div(class="col-sm-1 col-xs-2")
      a.add-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-plus")
        | &nbsp; And


  //- Select aggregators.
  div.select-fields(class="form-group")
    label(class="col-sm-1 col-xs-2 control-label") By:

    div(class="col-sm-3 col-xs-4")
      select(name="aggregate" class="form-control")
        optgroup(label="Aggregators")
          option(value="each") Each
        optgroup(label="Date formatters")
          option(value="day") Day of
          option(value="month") Month of
          option(vlaue="quarter") Quarter of
          option(value="year") Year of

    div(class="col-sm-7 col-xs-4")
      select(name="model" class="form-control")
        option(disabled selected) ...
        each table in schema.toJSON()
          optgroup(label=table.name)
            each col in table.columns
              option(value=col) #{col}

    div(class="col-sm-1 col-xs-2")
      a.add-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-plus")
        | &nbsp; By &nbsp;

  .fieldsets

  div(class="btn-group")
    if (model)
      - var modelName = model.get('name');
      a.join-btn(href="#" class="btn btn-default") Join something

    if (!isRoot)
      a.unjoin-btn(href="#" class="btn btn-default") Remove join