fieldset
  legend= isRoot ? 'From ' + (model ? model.get('name') : 'something') : 'Join ' + (model ? model.get('name') : 'something')

  div(class="row")

    //- Select model.
    div.select-model(class="form-group col-sm-5 col-xs-12")
      label Choose a thing:
      select(name="model" class="form-control")
        option(disabled selected) ...
        each table in schema.toJSON()
          - var selected = model && model.id === table.id;
          option(value=table.name selected=selected) #{table.name}

    if (model)
      div.select-fields(class="form-group col-sm-2 col-xs-12")
        label Select:
        select(name="aggregate" class="form-control")
          option(value="each") Each
          option(value="count") Count of
          option(value="sum") Sum of

      div.select-fields(class="form-group col-sm-5 col-xs-12")
        label Field:
        select(name="field" class="form-control")
          each col in model.get('columns')
            option(value=col) #{col}

  .fieldsets

  div(class="btn-group")
    if (model)
      - var modelName = model.get('name');
      a.join-btn(href="#" class="btn btn-default") Join something

    if (!isRoot)
      a.unjoin-btn(href="#" class="btn btn-default") Remove join