if isRoot
  hr

div.filter-fields(class="form-group")
  - var labelText = isRoot ? 'Where:' : 'and:'
  label(class="col-sm-1 col-xs-2 control-label") #{labelText}

  div(class="col-sm-3 col-xs-3")
    select(name="model" class="form-control")
      option(selected) (not set)
      optgroup(label=model.get('name'))
        each col in model.get('columns')
          option #{col}
      each table in model.get('joins').toJSON()
        optgroup(label=table.name)
          each col in table.columns
            option(value=col) #{col}

  div(class="col-sm-2 col-xs-3")
    select(name="operator" class="form-control")
      option(value="equals") Is equal to
      option(value="greaterThan") Is greater than

  div(class="col-sm-4 col-xs-4")
    input(type="text" name="input" class="form-control")


  div(class="btn-group col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-2 row")
    a.add-btn(href="#" class="btn btn-default col-sm-6 col-xs-2")
      span(class="glyphicon glyphicon-plus")
    if !isRoot
      a.remove-btn(href="#" class="btn btn-default col-sm-6 col-xs-2")
        span(class="glyphicon glyphicon-minus")