if isRoot
  hr

div.group-fields(class="form-group")
  - var labelText = isRoot ? 'By:' : 'and:'
  label(class="col-sm-1 col-xs-2 control-label") #{labelText}

  div(class="col-sm-3 col-xs-3")
    select(name="aggregate" class="form-control")
      optgroup(label="Default")
        option(value="each") Each
      optgroup(label="Date formatters")
        option(value="day") Day of
        option(value="month") Month of
        option(vlaue="quarter") Quarter of
        option(value="year") Year of

  div(class="col-sm-6 col-xs-3")
    select(name="model" class="form-control")
      option(selected) (not set)
      optgroup(label=model.get('name'))
        each col in model.get('columns')
          option #{col}
      each table in model.get('joins').toJSON()
        optgroup(label=table.name)
          each col in table.columns
            option(value=col) #{col}

  div(class="btn-group col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-2 row")
    a.add-btn(href="#" class="btn btn-default col-sm-6 col-xs-2")
      span(class="glyphicon glyphicon-plus")
    if !isRoot
      a.remove-btn(href="#" class="btn btn-default col-sm-6 col-xs-2")
        span(class="glyphicon glyphicon-minus")