
div(class="form-group")
  - var labelText = isRoot ? 'Include:' : 'and:'
  label(class="col-sm-1 col-xs-12 control-label") #{labelText}

  div(class="col-sm-3 col-xs-12")
    select(name="model" class="form-control")
      option(disabled selected) something

        if isRoot && !parent.model
          each table in tables.toJSON()
            - var isSelected = model && table.name === model.get('name')
            - var joinId = parent.model ? parent.model.id : false

            option(value=table.name data-join-id=joinId selected=isSelected) #{table.as}

        else
          - var joinables = tables.get(parent.model.get('name')).get('joins')
          each joinable in joinables
            - var isSelected = model && joinable.name === model.get('name')
            - var joinDef    = tables.get(joinable.name)
            - var joinAlias  = joinable.as || joinDef.get('as') || joinable.name

            option(value=joinable.name data-join-id=parent.model.id selected=isSelected) #{joinAlias}

  div(class="btn-group col-sm-8 col-xs-12")

    if (model)
      a.add-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-plus")

    if (!isRoot || qb.joinSet.collection.length > 1)
      a.remove-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-minus")

.content