
div(class="form-group")
  - var labelText = isRoot ? 'Select:' : 'and:'
  label(class="col-sm-1 col-xs-2 control-label") #{labelText}

  div(class="col-sm-3 col-xs-10")
    select.select-1(name="aggregate" class="form-control")
      each optgroup in functionsList
        optgroup(label=optgroup.group)
          each option in optgroup.options
            - var isSelected = model && model.get('functions') === option.value
            option(value=option.value selected=isSelected) #{option.label}

  div(class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-2")
    select.select-2(name="model" class="form-control")
      option(disabled selected) ...

        - var joinable = qb.joinSet.collection.toJSON()
        each join in joinable
          - var joinAlias = join.as || join.name
          optgroup(label=joinAlias)

            - var joinableCols = tables.findWhere({ name: join.name }).get('columns')
            each column in joinableCols
              - var isSelected = model && model.get('joinId') === join.id && model.get('name') === column.name
              - var colAlias = column.property || column.name;
              option(value=column.name data-join-id=join.id selected=isSelected) #{colAlias}


  div(class="btn-group col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-2 row")
    if (isRoot && model)
      a.add-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-plus")
    if !isRoot
      a.remove-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-minus")