
div.select-fields(class="form-group")
  - var labelText = isRoot ? 'Select:' : 'and:'
  label(class="col-sm-1 col-xs-2 control-label") #{labelText}

  div(class="col-sm-3 col-xs-10")
    select.select-1(name="aggregate" class="form-control")
      each optgroup in functionsList
        optgroup(label=optgroup.group)
          each option in optgroup.options
            - var isSelected = model && model.get(0).group === optgroup.group && model.get(0).value === option.value
            option(value=option.value selected=isSelected) #{option.label}

  div(class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-2")
    select.select-2(name="model" class="form-control")
      option(disabled selected) ...
        each join in qb.joinSet.collection.toJSON()
          optgroup(label=join[0].label data-join-id=join.id)
            each column in tables.get(join[0].value).get('columns')
              option=column


  div(class="btn-group col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-2 row")
    if (isRoot && model)
      a.add-btn(href="#" class="btn btn-default col-sm-6 col-xs-2")
        span(class="glyphicon glyphicon-plus")
    if !isRoot
      a.remove-btn(href="#" class="btn btn-default col-sm-6 col-xs-2")
        span(class="glyphicon glyphicon-minus")